#friends-display-link {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 10px 0px;
  background-color: #fafafa;
  text-align: center;
  font-size: 18px;
}

#friends-display-link {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
